<footer>
    <div class="container">
        <div class="subscribe row">
            <div class="col-lg-6 col-md-12 read">
                <h4>know it all first!</h4>
                <p class="d-lg-block d-none">Never Miss Anything From Multikart By Signing Up To Our Newsletter.</p>
            </div>
            <div class="col-lg-6 col-md-12 ">
                <form target="_blank" method="post" class="form-inline">
                    <div class="form-group mx-sm-3 ">
                        <input type="email" name="EMAIL" id="EMAIL" placeholder="Enter your email" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-solid" >subscribe</button>
                </form>
            </div>
        </div>
        <div class="row footer-content">
            <div class="col-lg-4 col-md-6 our">
                <div class="title d-md-none d-block">
                    <h4>About</h4>
                </div>
                <img alt="logo" src="../../assets/logo-7.png">    
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>        
                <div class="social">
                    <a><fa-icon [icon]="faFacebook"></fa-icon></a> 
                     <a><fa-icon [icon]="faGooglePlus"></fa-icon></a>
                     <a><fa-icon [icon]="faInstagram"></fa-icon></a>
                     <a><fa-icon [icon]="faTwitter"></fa-icon></a>
                </div>
            </div>
            <div class="col-lg col-md-6 col-xs-12 offset-xl-1">
                <div>
                <div class="title">
                    <h4>categories</h4>
                </div>
                <div>
                <ul>
                    <li>
                        <a>women</a>
                    </li>
                    <li>
                        <a>men</a>
                    </li>
                    <li>
                        <a>kids</a>
                    </li>
                    <li>
                        <a>all</a>
                    </li>
                </ul></div>
            </div>
            </div>
            <div class="col-lg  col-md-6 col-xs-12 ">
                <div class="title">
                <h4>categories</h4>
            </div>
            <ul>
                <li>
                    <a>women</a>
                </li>
                <li>
                    <a>men</a>
                </li>
                <li>
                    <a>kids</a>
                </li>
                <li>
                    <a>all</a>
                </li>
            </ul>
        </div>
            <div class="col-lg  col-md-6 col-xs-12 ">
                <div class="title">
                    <h4>Store Information</h4>
                </div>
                <ul>
                    <li>
                        <fa-icon [icon]="faMapMarker"></fa-icon> <span>Egypt,Luxor</span>
                    </li>
                    <li>
                        <fa-icon [icon]="faPhone"></fa-icon><span>0111111111</span>
                    </li>
                    <li>
                        <fa-icon [icon]="faEnvelope"></fa-icon><span>http://google.com</span>    
                    </li>
                    <li>
                        <fa-icon [icon]="faFax"></fa-icon><span>fax:123456</span>    
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>
                <fa-icon [icon]="faCopyright"></fa-icon>
                powered by Ghada Ahmed Abdo 2023
            </p>
        </div>
    </div>
</footer>
